In [1]:
# list & tuple
# wap to convert tuple into list.
a = (1,2,3,4)
print(type(a))

<class 'tuple'>

In [2]:
b = list(a)
print(b)

[1, 2, 3, 4]

In [3]:
type(b)

list

In [4]:
# int,float
# list
# tuple
# set
# dict

a = 23
print(type(a))

<class 'int'>

In [6]:
b = float(a)

In [7]:
type(b)

float

# Dict

In [14]:
x = {
    'name':'A',
    'age':23,
    'marks':56,
    'salary':45000
}

In [15]:
x

{'name': 'A', 'age': 23, 'marks': 56, 'salary': 45000}

In [16]:
type(x)

dict

# slicing with indexing

In [17]:
x

{'name': 'A', 'age': 23, 'marks': 56, 'salary': 45000}

In [18]:
# x{3}

# x[3]

# x[1]

x['age']

23

In [19]:
x['name']

'A'

In [22]:
x[[['name','age','marks']]]

TypeError: unhashable type: 'list'

In [25]:
x = {
    'name':['A','B','C'],
    'age':[23,45,67],
    'marks':[56,5,34],
    'salary':45000
}

In [26]:
x

{'name': ['A', 'B', 'C'],
 'age': [23, 45, 67],
 'marks': [56, 5, 34],
 'salary': 45000}

In [30]:
x['name'][1]='Z'

In [31]:
x

{'name': ['A', 'Z', 'C'],
 'age': [23, 45, 67],
 'marks': [56, 5, 34],
 'salary': 45000}

In [33]:
x = {
    'name':['A','B','C'],
    'age':[23,45,67],
    'marks':[56,5,34],
    'salary':45000,
    
    'y':{
        'emp':['X',"Y",'Z'],
        'age':(1,2,3),

    }
}

In [34]:
x

{'name': ['A', 'B', 'C'],
 'age': [23, 45, 67],
 'marks': [56, 5, 34],
 'salary': 45000,
 'y': {'emp': ['X', 'Y', 'Z'], 'age': (1, 2, 3)}}

In [38]:
x['y']['age'][1]

2

In [57]:
x = {
    'name':['A','B','C'],
    'age':[23,45,67],
    'marks':[56,5,34],
    'salary':45000,
    0:'hello',
    '0':1,
    0:'python',
    '0':'1',
    1:0,
    
    'y':{
        'emp':['X',"Y",'Z'],
        'age':(1,2,3),

    }
}

In [52]:
x

{'name': ['A', 'B', 'C'],
 'age': [23, 45, 67],
 'marks': [56, 5, 34],
 'salary': 45000,
 0: 'python',
 '0': '1',
 1: 0,
 'y': {'emp': ['X', 'Y', 'Z'], 'age': (1, 2, 3)}}

In [41]:
x[0]

'hello'

In [44]:
x['0']

1

In [53]:
x[1]

0

In [54]:
#wap to create a empty dict.
#wap to create a single element dict.
a = {}
type(a)

dict

In [56]:
x = {
    1:0
}
type(x)

dict

# Dict methods

In [58]:
# items
# keys
# values
# pop
# update
x

{'name': ['A', 'B', 'C'],
 'age': [23, 45, 67],
 'marks': [56, 5, 34],
 'salary': 45000,
 0: 'python',
 '0': '1',
 1: 0,
 'y': {'emp': ['X', 'Y', 'Z'], 'age': (1, 2, 3)}}

In [59]:
# key
x.keys()

dict_keys(['name', 'age', 'marks', 'salary', 0, '0', 1, 'y'])

In [60]:
x.values()

dict_values([['A', 'B', 'C'], [23, 45, 67], [56, 5, 34], 45000, 'python', '1', 0, {'emp': ['X', 'Y', 'Z'], 'age': (1, 2, 3)}])

In [61]:
x.items()

dict_items([('name', ['A', 'B', 'C']), ('age', [23, 45, 67]), ('marks', [56, 5, 34]), ('salary', 45000), (0, 'python'), ('0', '1'), (1, 0), ('y', {'emp': ['X', 'Y', 'Z'], 'age': (1, 2, 3)})])

In [63]:
# pop
x.pop(0)

'python'

In [64]:
x

{'name': ['A', 'B', 'C'],
 'age': [23, 45, 67],
 'marks': [56, 5, 34],
 'salary': 45000,
 '0': '1',
 1: 0,
 'y': {'emp': ['X', 'Y', 'Z'], 'age': (1, 2, 3)}}

In [65]:
x.update()

In [66]:
x

{'name': ['A', 'B', 'C'],
 'age': [23, 45, 67],
 'marks': [56, 5, 34],
 'salary': 45000,
 '0': '1',
 1: 0,
 'y': {'emp': ['X', 'Y', 'Z'], 'age': (1, 2, 3)}}

In [67]:
x.update(1:100)

SyntaxError: invalid syntax (Temp/ipykernel_8208/1929501517.py, line 1)

In [68]:
x = {"a":'hello'}
y = {"a":'python'}

In [69]:
x.update(y)

In [70]:
x

{'a': 'python'}

In [71]:
y

{'a': 'python'}

# SET

In [72]:
x = {1,2,3,4}

In [73]:
x

{1, 2, 3, 4}

In [74]:
type(x)

set

In [75]:
x = {1,1,2,2,3,3,4,4}
x

{1, 2, 3, 4}

In [76]:
x = {56,9,34,89,12}

In [77]:
x

{9, 12, 34, 56, 89}

In [80]:
x = {0,45,90,-7,34,-234,False,True}
x

{-234, -7, 0, True, 34, 45, 90}

In [81]:
x[0]

# no index
# no slicing
# immutable
# no duplicacy

TypeError: 'set' object is not subscriptable

In [82]:
# #single element set
# #empty set



# add
# clr
# copy
# update
# remove
# pop

s = {3}

In [83]:
type(s)

set

In [84]:
s = {}
type(s)

dict

In [85]:
# empty set
s = set()

In [86]:
type(s)

set