In [5]:
# A company decided to give bonus of 5% 
# to employee if his/her year of service is more than 5 years.
# Ask user for their salary and year of service and 
# print the net bonus amount.

year_of_service = 30
salary = 20000

if year_of_service>5:
    net_bonus = (salary * 5)/100
    total_sal = salary+net_bonus
    print("Net bonus will received is ----->",net_bonus)
    print("Salary after bonus will be ------>",total_sal)
else:
    print("Bonus nahi milega")

Net bonus will received is -----> 1000.0
Salary after bonus will be ------> 21000.0

In [6]:
# data types----->
# variables
# condition


print('hello world')

hello world

In [9]:
x=1
y=20
z = x+y
print(z)

21

In [7]:
1+2

3

In [14]:
# -,*,/
length = 5
breadth = 4
# if 
if length == 5:
    print("rectangle square!!")
else:
    print("not rectangle!!")

rectangle square!!

In [15]:
a=10
b=20
c=a-b

print(c)

-10

In [16]:
a=10
b=20
c=a*b
print(c)

200

In [23]:
a=4
b=2
c=a//b
print(c)

2

In [21]:
a=4
b=3
c=a//b
print(c)

1

In [29]:
# mod operator-----> %


unit_cost = 100
unit_items = 100
total_cost = unit_cost*unit_items

if total_cost>1000:
    dis = (total_cost *10)/100
    total_price_paid = total_cost - dis
    print("Cost after discount ----> ",total_price_paid)
    
    
    print("Discount u will receive will be ----> ",dis)
    
else:
    print("no discount")

Cost after discount ---->  9000.0
Discount u will receive will be ---->  1000.0

In [31]:
# mod operator----> 

a = 11
b = 5
c = a%b
print(c)

1

In [32]:
#user input----
a = input("Enter something!!")
print(a)

Enter something!!12
12

In [33]:
#wap to add two numbers with the help of user input .

marks= int(input("enter marks"))
if marks<25:
    print("Grade F")
elif marks>=25 and marks<45:
    print("Grade E")
elif marks>45 and marks<50:
    print("Grade D")
elif marks>50 and marks<60:
    print("Grade c")
elif marks>60 and marks<80:
    print("Grade B")
else:
    print("Grade A")

enter marks45
Grade A

In [34]:
age1=int(input('Enter age: '))
age2=int(input('Enter age: '))
age3=int(input('Enter age: '))
if age1>age2 and age1>age3:
    if age2<age3:
        print(age2,'is the youngest')
    else:
        print(age3,'is the youngest')
    print(age1,'is the oldest')
elif age2>age1 and age2>age3:
    if age1<age3:
        print(age1,'is the youngest')
    else:
        print(age3,'is the youngest')
    print(age2,'is the oldest')
else:
    if age1<age2:
        print(age1,'is the youngest')
    else:
        print(age2,'is the youngest')
    print(age3,'is the oldest')

Enter age: 2
Enter age: 3
Enter age: 4
2 is the youngest
4 is the oldest

In [44]:
# A school has following rules for grading system:
# a. Below 25 - F
# b. 25 to 45 - E
# c. 45 to 50 - D
# d. 50 to 60 - C
# e. 60 to 80 - B
# f. Above 80 - A
# Ask user to enter marks and print the corresponding grade


marks = 45
if marks>= 80:
    print("A grade")
elif marks > 60 and marks< 80:
    print("B grade")
elif marks> 50 and marks < 60:
    print("C grade")
elif marks> 45 and marks < 50:
    print("D grade")
elif marks> 25 and marks <= 45:
    print('E grade')
elif marks <= 25:
    print("F grade")
else:
    print("Invalid output")

E grade