In [6]:
# Wap to find odd even number.
# wap to find prime number.


# 1.
num = int(input("Enter the number"))
if num % 2 == 0:
    print("Even Number")
else:
    print("Odd number")

Enter the number34
Even Number

In [8]:
# 2.
num = int(input("Enter the number"))
if num % 2 != 0:
    print("Odd Number")
else:
    print("Even number")

Enter the number93
Odd Number

In [10]:
num = 24
if num>1:
    for i in range(2,13):
        if num%i == 0:
            print("Not prime number",num)
            
            break
        else:
            print("Prime Number",num)
else:
    print("Not a prime number",num)

Not prime number 24

In [11]:
#wap to make a list .
#wap to slice a data from a list
#wap to slice data from index 3 to 5.

# while loop

In [16]:
# 1. initialization
# 2. condition
# 3. increment/ decrement


# wap to print from 1-10

x = 1
while x<=20:
    print(x)
    x = x+1
#     x+=1
#     x++

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [17]:
# wap to make a list.

x = [1,2,3,'hello bhai',34.4,56.3,True]

In [18]:
x

[1, 2, 3, 'hello bhai', 34.4, 56.3, True]

In [19]:
type(x)

list

In [20]:
x

[1, 2, 3, 'hello bhai', 34.4, 56.3, True]

In [21]:
x[6]

True

In [22]:
x[-1]

True

In [23]:
x

[1, 2, 3, 'hello bhai', 34.4, 56.3, True]

In [25]:
x[3:6]

['hello bhai', 34.4, 56.3]

In [28]:
type(x)

list

In [26]:
a = [45,56,89,44]
for i in a:
    print(i)

45
56
89
44

In [27]:
type(i)

int

In [32]:
#wap to convert a string into list.
x = 'Divya'
y = list(x)
# type(x)

In [33]:
type(y)

list

In [34]:
#wap to and check a string is palindrome or not.

a=input('Enter string to convert to list')
l=list(a)
print(l)

Enter string to convert to listhello
['h', 'e', 'l', 'l', 'o']

In [35]:
type(l)

list

In [37]:
x = 'mam'
y = list(x)
if y[::] == y[::-1]:
    print("Palindrome")
else:
    print("No palindrome")

Palindrome

In [43]:
x = 'nitin'
y = ''
for i in x:
    y = i+y
if x==y:
    print('palindrome')
else:
    print("not palindrome")

palindrome

In [47]:
x='mams'
y=x[::-1]
if x==y:
    print('Palindrome')
else:
    print('not palindrome')

not palindrome

In [58]:
x = 'nitin'
y = ''
for i in x:
    y = i+y
#     print(i)

#     print(y)

if x == y:
    print("p")
else:
    print('NP')

p

In [ ]:
# wap to find fibonacci series upto 10 terms??
# list method/function
# reverse
# insert
# pop
# append 
# count
# extend